<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="addressBean" class="com.example.Address">
        <constructor-arg value="Lagos"></constructor-arg>
        <constructor-arg value="Lagos"></constructor-arg>
        <constructor-arg value="Nigeria"></constructor-arg>
    </bean>

<!--    Bean element is used to define the bean for the given class-->
    <bean id="studentbean" class="com.example.Student">
        <property name="name" value="Nnamdi Nwabuokei"></property>
    </bean>
    <bean id="consumerBean" class="com.example.Consumer">
<!--        If you don't specify the type attribute, default string-based constructor will be invoked  -->
    <constructor-arg value="10" type="int"></constructor-arg>
<!--        <constructor-arg value="10" type="int"></constructor-arg>-->
        <constructor-arg value="Sonooo"></constructor-arg>

        <constructor-arg>
<!--            It is used to define the reference of another object-->
            <ref bean="addressBean"></ref>
        </constructor-arg>
    </bean>

    <bean id="questionBean" class="com.example.Question">
        <constructor-arg value="111"></constructor-arg>
        <constructor-arg value="What is Java?"></constructor-arg>
        <constructor-arg>
            <list>
                <value>Java is a programming language</value>
                <value>Java is a platform</value>
                <value>Java is an island of Indonesia</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="ans1" class="com.example.Answer" >
      <constructor-arg value="1"></constructor-arg>
        <constructor-arg value="Java is a programming language"></constructor-arg>
        <constructor-arg value="John"></constructor-arg>
    </bean>
    <bean id="ans2" class="com.example.Answer">
        <constructor-arg value="2"></constructor-arg>
        <constructor-arg value="Java is a platform"></constructor-arg>
        <constructor-arg value="Ravi"></constructor-arg>
    </bean>
    <bean id="chatBean" class="com.example.Chat">
        <constructor-arg value="123"></constructor-arg>
        <constructor-arg value="What is Java ?"></constructor-arg>
        <constructor-arg>
            <list>
                <ref bean="ans1"/>
                <ref bean="ans2"/>
            </list>
        </constructor-arg>
    </bean>
<bean id="MapBean" class="com.example.MapQuestion">
    <constructor-arg value="11"></constructor-arg>
    <constructor-arg value="What is Java in today programming context"></constructor-arg>
    <constructor-arg>
        <map>
            <entry key="Java is a programming Language" value="Ajay Kumar"></entry>
            <entry key="Java is a platform" value="John Smith"></entry>
            <entry key="Java is an Island " value="Raj kumar"></entry>
        </map>
    </constructor-arg>
</bean>

    <bean id="answer1" class="com.example.nonString.Response">
        <constructor-arg value="1"></constructor-arg>
        <constructor-arg value="Java is a Programming Language"></constructor-arg>
        <constructor-arg value="12/12/2001"></constructor-arg>
    </bean>
    <bean id="answer2" class="com.example.nonString.Response">
        <constructor-arg value="2"></constructor-arg>
        <constructor-arg value="Java is an all round platform"></constructor-arg>
        <constructor-arg value="12/12/2003"></constructor-arg>
    </bean>

    <bean id="user1" class="com.example.nonString.User">
        <constructor-arg value="1"></constructor-arg>
        <constructor-arg value="Arun Kumar"></constructor-arg>
        <constructor-arg value="arun@gmail.com"></constructor-arg>
    </bean>
    <bean id="user2" class="com.example.nonString.User">
        <constructor-arg value="2"></constructor-arg>
        <constructor-arg value="Varun Kumar"></constructor-arg>
        <constructor-arg value="varun@gmail.com"></constructor-arg>
    </bean>
    <bean id="mapObject" class="com.example.nonString.MapObject">
        <constructor-arg value="1"></constructor-arg>
        <constructor-arg value="What is Java ?"></constructor-arg>
        <constructor-arg>
            <map>
                <entry key-ref="answer1" value-ref="user1"></entry>
                <entry key-ref="answer2" value-ref="user2"></entry>
            </map>
        </constructor-arg>
    </bean>
</beans>